
#OV_mainframe
{
	width: 300px;
	height: 250px;
	left: 0px;
	top: 0px;
	position: fixed;
	font-size:0.8em;
}


#quick_text
{
	font-size:1.3em;
	top:0px;
	position:absolute;
	width:100%;
}

#OVtable
{
	left:-300px;
	position: fixed;
	z-index: 5;
}

.OVdetbutton
{
  width:100%;
  heigth:100%;
  text-align:center;
  font-size:0.9em;
}


.OV_menubutton
{
  margin:2px;
  padding:2px;
  width:300px;
  text-align:center;
}

.OVselectbutton
{
  width:100%;
  heigth:100%;
  text-align:center;
  font-weight: 900;
}

.OV_quick
{
  height:250px;
  width:300px;
  z-index:20;
  top:0px;
}

.OV_emphasize
{
	font-size:3.3em;
	font-weight:900;
}


table.OV, table.OV th, table.OV td
{
	border: 1px solid;
	padding: 2px;
	font-size:0.8em;
}

table.OV {
	border-collapse: collapse;
}


.OV_details, .OV_quick
{
  position:fixed;
  left:0;
  
  overflow-x:hidden;
  transition:.5s;
  margin-left:auto;
  margin-right:auto;

}

.OV_details
{
  height:100%;
  width:0;
  z-index:10;
  top:0;
  background-color:rgba(211,211,211,1);
  font-size:.7em;
}

.OV_details
{
  position:fixed;
  left:0;
  
  overflow-x:hidden;
  padding-top:0px;
  transition:.5s;
  margin-left:auto;
  margin-right:auto;
  widht:0px;
  height:0px;

}
