
#status_mainframe
{
	width: 300px;
	height: 250px;
	left: 0px;
	top: 0px;
	position: fixed;
	font-size:1em;
}

.top_border
{
	border-top: solid 1px;
	font-size:0.9em;
}

#datum
{
	font-size:1.2em;
	font-weight: 600;
}
#tijd
{
	font-size:3.1em;
	font-weight: 900;
	width:290px;
}

#temperatuur, #lucht
{
	font-size:2em;
	width:143px;
}

table#status_table
{
	height: 250px;
	width: 300px;
	border: 1px solid;
	padding: 2px;
	font-size:1em;
	text-align:center;
}


table#status_table td, table#status_table tr
{
	padding: 0px;
}

#quick_text
{
	font-size:1.3em;
	top:0px;
	position:absolute;
	width:100%;
}