body
{
  font:14px/1.4 Arial;
  font-size:1.2em;
  background-color:lightgray;
}

footer
{
  text-align:center;
  font-size:.6em;
}

.menuHidden
{
  display:none;
}

.menuShown
{
  display:block;
}

.button
{
  margin-left:10px;
  margin-right:10px;
  box-shadow:-10px 0 5px #696969;
}

.tablebutton
{
  box-shadow:-10px 0 5px #696969;
  width:100px;
  border-radius:15px;
  background-color:#ADD8E6;
  text-align:center;
  margin:10px;
  padding:10px;
}

.tablebuttondisabled
{
  box-shadow:-10px 0 5px #696969;
  border-radius:15px;
  background-color:#b5c9de;
  color:gray;
  width:100px;
  text-align:center;
  margin:10px;
  padding:10px;
}

.buttonpressed
{
  margin-left:0;
  margin-right:20px;
}

td.tablebutton
{
  height:40px;
}

.splitter
{
  width:50px;
}

.buttonarea
{
  width:100%;
  text-align:center;
  user-select:none;
}

.buttonarea .button,.buttonarea .buttonpressed
{
  margin-top:10px;
  margin-bottom:10px;
  border-radius:15px;
  background-color:#B0C4DE;
  width:280px;
  height:130px;
  text-align:left;
  font-weight:700;
  line-height:1.4;
  display:inline-block;
  padding:10px;
}

form
{
  border:3px solid #f1f1f1;
}

.container
{
  padding:16px;
}

span.psw
{
  float:right;
  padding-top:16px;
}

input[type=text],input[type=password],select
{
  width:100%;
  display:inline-block;
  border:1px solid #ccc;
  box-sizing:border-box;
  margin:8px 0;
  padding:12px 20px;
}

.loginbtn
{
  background-color:#4CAF50;
  color:#FFF;
  border:none;
  cursor:pointer;
  width:100%;
  margin:8px 0;
  padding:14px 20px;
}

button:hover
{
  opacity:0.8;
}

.cancelbtn
{
  color:#FFF;
  border:none;
  cursor:pointer;
  width:100%;
  background-color:#f44336;
  margin:8px 0;
  padding:10px 18px;
}

.modal
{
  display:none;
  position:fixed;
  z-index:1;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.4);
  padding-top:60px;
}

.modal2
{
  display:none;
  position:fixed;
  z-index:1;
  padding-top:100px;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.4);
}

.modal-content
{
  background-color:#fefefe;
  border:1px solid #888;
  width:80%;
  margin:5px auto;
}

.modal-content2
{
  background-color:#B0C4DE;
  border:1px solid #888;
  width:120px;
  margin:5px auto;
}

.modal-content3
{
  background-color:#B0C4DE;
  border:1px solid #888;
  width:500px;
  margin:5px auto;
}

.close
{
  position:absolute;
  right:25px;
  top:0;
  color:#000;
  font-size:35px;
  font-weight:700;
}

.close:hover,.close:focus
{
  color:red;
  cursor:pointer;
}

table.db-table
{
  font-size:.6em;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

table.db-table th
{
  background:#000;
  color:#FFF;
  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
  padding:5px;
}

table.db-table td
{
  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
  padding:5px;
}

table.db-table .add
{
  background:green;
  color:#FFF;
}

table.db-table .delete
{
  background:red;
  color:#FFF;
}

table.db-table .modify
{
  background:orange;
  color:#FFF;
}

.name
{
  width:100%;
  font-weight:700;
  font-size:1.5em;
  text-align:left;
}

.fieldupdate
{
  text-align:left;
}

table.select-table
{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  user-select:none;
}

th.select-button
{
  font-size:1em;
}

td.select-button
{
  font-size:1.5em;
  font-weight:700;
  width:50px;
  border:1px solid #000;
  box-shadow:-10px 0 5px #696969;
  border-radius:15px;
  background-color:#B0C4DE;
  text-align:center;
  color:#000;
  margin:10px;
}

td.select-buttonpressed
{
  font-size:1.5em;
  font-weight:700;
  width:50px;
  border:1px solid #000;
  border-radius:15px;
  background-color:#B0C4DE;
  text-align:center;
  color:grey;
  margin:10px 20px 10px 0;
}

td.select-bsplit
{
  width:5px;
  border:0;
}

table.log
{
  text-align:left;
  margin-left:auto;
  margin-right:auto;
  user-select:none;
  border-collapse:collapse;
}

table.log td,table.log th
{
  border:1px solid #000;
  background-color:#B0C4DE;
  padding:5px;
}

#chart_div
{
  max-width:100%;
  max-height:100%;
}

.header_left
{
  float:left;
}

.header_right
{
  float:right;
}

.header_center
{
  font-weight:700;
  font-size:1.8em;
  text-align:center;
  height:60px;
  margin:auto;
}

.menutable
{
  margin-left:auto;
  margin-right:auto;
}

.sidenav
{
  height:100%;
  width:0;
  position:fixed;
  z-index:10;
  top:0;
  left:0;
  background-color:rgba(0,0,0,0.5);
  overflow-x:hidden;
  padding-top:60px;
  transition:.5s;
  margin-left:auto;
  margin-right:auto;
}

.sidenav .closebtn
{
  position:absolute;
  top:0;
  right:25px;
  font-size:36px;
  margin-left:50px;
}

.sidenav a
{
  text-decoration:none;
  font-size:25px;
  color:#818181;
  display:block;
  transition:.3s;
  padding:8px 8px 8px 32px;
}

.sidenav a:hover,.offcanvas a:focus
{
  color:#f1f1f1;
}

.menubutton
{
  box-shadow:-10px 0 5px #696969;
  width:300px;
  border-radius:15px;
  background-color:#ADD8E6;
  text-align:center;
  margin:10px;
  padding:10px;
}

header,#update
{
  text-align:center;
}

#loginfo,.location
{
  font-size:.6em;
}

table.OV, table.OV th, table.OV td {
	border: 1px solid black;
	padding: 5px;
	font-size:0.8em;
}

table.OV {
	border-collapse: collapse;
}

td.select-split,th.select-split
{
  width:20px;
  border:0;
}

#frame_OV {
	-ms-zoom: 0.75
	-moz-transform: scale(0.75);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.75);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.75);
	-webkit-transform-origin: 0 0;
}

#wrap_OV { 
	width: 600px; 
	height: 400px; 
	padding: 0; 
	overflow: hidden;
}
	
#frame_OV { 
	width: 600px; 
	height: 400px; 
	border: 1px solid black;
}

@media all and (orientation:portrait) {
  .header_center
  {
    clear:both;
    height:40px;
  }
  #frame_OV {
	-ms-zoom: 0.60;
	-moz-transform: scale(0.60);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.60);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.60);
	-webkit-transform-origin: 0 0;
	}
}



