/*colors*/

body, .weather_modal1
{
  background-color:lightgray;
  color:black;
}

.menubutton, .OVselectbutton, .OVdetbutton, .tablebutton
{
  background-color:LightBlue;
}

.close, td.select-button, button, a{
	color:black;
}

.loginbtn, .cancelbtn, table.db-table th, table.db-table .add, table.db-table .delete, table.db-table .modify
{
	color:white;
}

.tablebuttondisabled
{
	background-color:#b5c9de;
	color:gray;
}

td.select-buttonpressed
{
	color:gray;
}

.buttonarea .button,.buttonarea .buttonpressed, .modal-content2, .modal-content3, td.select-button, td.select-buttonpressed, table.log td,table.log th
{
	background-color:LightSteelBlue;
}

.loginbtn
{
	background-color:green;
}

.cancelbtn
{
	background-color:red;
}

.detected
{
	color:red;
}

#weather_icon, #weather_temp
{
	background-color:#0099cc;
}

/*END colors*/

body
{
  font:14px/1.4 Arial;
  font-size:1.2em;
}

footer
{
  text-align:center;
  font-size:.6em;
}

#weather
{
	padding:0px;
	border-collapse: collapse;
}

.menuHidden
{
  display:none;
}

.menuShown
{
  display:block;
}

.button
{
  margin-left:10px;
  margin-right:10px;
  box-shadow:-10px 0 5px #696969;
}

.tablebutton
{
  box-shadow:-10px 0 5px #696969;
  width:100px;
  border-radius:15px;
  text-align:center;
  margin:10px;
  padding:10px;
}

.tablebuttondisabled
{
  box-shadow:-10px 0 5px #696969;
  border-radius:15px;
  width:100px;
  text-align:center;
  margin:10px;
  padding:10px;
}

.buttonpressed
{
  margin-left:0;
  margin-right:20px;
}

td.tablebutton
{
  height:40px;
}

.splitter
{
  width:50px;
}

.buttonarea
{
  width:100%;
  text-align:center;
  user-select:none;
}

.buttonarea .button,.buttonarea .buttonpressed
{
  margin-top:10px;
  margin-bottom:10px;
  border-radius:15px;
  width:280px;
  height:130px;
  text-align:left;
  font-weight:700;
  line-height:1.4;
  display:inline-block;
  padding:10px;
}

form
{
  border:3px solid #f1f1f1;
}

.container
{
  padding:16px;
}

span.psw
{
  float:right;
  padding-top:16px;
}

input[type=text],input[type=password],select
{
  width:100%;
  display:inline-block;
  border:1px solid #ccc;
  box-sizing:border-box;
  margin:8px 0;
  padding:12px 20px;
}

.loginbtn
{
  border:none;
  cursor:pointer;
  width:100%;
  margin:8px 0;
  padding:14px 20px;
}

button:hover
{
  opacity:0.8;
}

.cancelbtn
{
  border:none;
  cursor:pointer;
  width:100%;
  margin:8px 0;
  padding:10px 18px;
}

.modal
{
  display:none;
  position:fixed;
  z-index:1;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.4);
  padding-top:60px;
}

.modal2
{
  display:none;
  position:fixed;
  z-index:1;
  padding-top:100px;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.4);
}

.modal-content
{
  background-color:#fefefe;
  border:1px solid #888;
  width:80%;
  margin:5px auto;
}

.modal-content2
{
  border:1px solid #888;
  width:120px;
  margin:5px auto;
}

.modal-content3
{
  border:1px solid #888;
  width:500px;
  margin:5px auto;
}

.close
{
  position:absolute;
  right:25px;
  top:0;
  font-size:35px;
  font-weight:700;
}

.close:hover,.close:focus
{
  color:red;
  cursor:pointer;
}

table.db-table
{
  font-size:.6em;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

table.db-table th
{
  background:#000;
  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
  padding:5px;
}

table.db-table td
{
  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
  padding:5px;
}

table.db-table .add
{
  background:green;
}

table.db-table .delete
{
  background:red;
}

table.db-table .modify
{
  background:orange;
}

.name
{
  width:100%;
  font-weight:700;
  font-size:1.5em;
  text-align:left;
}

.fieldupdate
{
  text-align:left;
}

table.select-table
{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  user-select:none;
}

th.select-button
{
  font-size:1em;
}

td.select-button
{
  font-size:1.5em;
  font-weight:700;
  width:50px;
  border:1px solid #000;
  box-shadow:-10px 0 5px #696969;
  border-radius:15px;
  text-align:center;
  margin:10px;
}

td.select-buttonpressed
{
  font-size:1.5em;
  font-weight:700;
  width:50px;
  border:1px solid #000;
  border-radius:15px;
  text-align:center;
  margin:10px 20px 10px 0;
}

td.select-bsplit
{
  width:5px;
  border:0;
}

table.log
{
  text-align:left;
  margin-left:auto;
  margin-right:auto;
  user-select:none;
  border-collapse:collapse;
}

table.log td,table.log th
{
  border:1px solid #000;
  padding:5px;
}

#chart_div
{
  max-width:100%;
  max-height:100%;
}

.header_left
{
  float:left;
}

.header_right
{
  float:right;
}

.header_center
{
  font-weight:700;
  font-size:1.8em;
  text-align:center;
  height:60px;
  margin:auto;
}

.menutable
{
  margin-left:auto;
  margin-right:auto;
}

.sidenav
{
  height:100%;
  width:0;
  position:fixed;
  z-index:10;
  top:0;
  left:0;
  background-color:rgba(0,0,0,0.5);
  overflow-x:hidden;
  padding-top:60px;
  transition:.5s;
  margin-left:auto;
  margin-right:auto;
}

.sidenav .closebtn
{
  position:absolute;
  top:0;
  right:25px;
  font-size:36px;
  margin-left:50px;
}

.sidenav a
{
  text-decoration:none;
  font-size:25px;
  color:#818181;
  display:block;
  transition:.3s;
  padding:8px 8px 8px 32px;
}

.sidenav a:hover,.offcanvas a:focus
{
  color:#f1f1f1;
}

.menubutton
{
  box-shadow:-10px 0 5px #696969;
  width:300px;
  border-radius:15px;
  text-align:center;
  margin:10px;
  padding:10px;
}

header,#update
{
  text-align:center;
}

#loginfo,.location
{
  font-size:.6em;
}

table.OV, table.OV th, table.OV td, table.traffic, table.traffic th, table.traffic td {
	border: 1px solid black;
	padding: 2px;
	font-size:0.8em;
}

table.OV {
	border-collapse: collapse;
}

table.traffic {
	border-collapse: collapse;
	text-align: center;
}

table.traffic tr, table.traffic td {
	text-align: left;
}

td.select-split,th.select-split
{
  width:20px;
  border:0;
}

#frame_OV {
	-ms-zoom: 0.75
	-moz-transform: scale(0.75);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.75);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.75);
	-webkit-transform-origin: 0 0;
}

#main_wrapper { 
	padding: 0; 
	overflow: hidden;
	display:inline-block;
	margin: 0 0 0 0;
}

#wrap_OV { 
	width: 330px; 
	height: 250px; 
	padding: 0; 
	overflow: hidden;
	display:inline-block;
	border: 0px solid black;
}
	
#frame_OV { 
	width: 440px; 
	height: 350px; 
	border: 0px solid black;
	display:inline-block;
}

.OV_details, .OV_quick
{
  position:fixed;
  left:0;
  
  overflow-x:hidden;
  padding-top:60px;
  transition:.5s;
  margin-left:auto;
  margin-right:auto;

}

.OV_details
{
  height:100%;
  width:0;
  z-index:10;
  top:0;
  background-color:rgba(211,211,211,1);
  font-size:.7em;
}

.OV_quick
{
  height:100%;
  width:100%;
  z-index:20;
  top:0px;
  background-color:rgba(211,211,211,1);
}

.OV_details .closebtn
{
  position:absolute;
  top:0;
  right:25px;
  font-size:36px;
  margin-left:50px;
}

.OV_details a
{
  text-decoration:none;
  font-size:25px;
  color:#818181;
  display:block;
  transition:.3s;
  padding:8px 8px 8px 32px;
}

.OV_details a:hover,.offcanvas a:focus
{
  color:#f1f1f1;
}

.evenrow
{
	background-color:rgb(211,211,211);
}

.oddrow
{
	background-color:rgb(180,180,180);
}


.OVselectbutton
{
  width:100%;
  heigth:100%;
  text-align:center;
  font-weight: 900;
}

.OVdetbutton
{
  width:100%;
  heigth:100%;
  text-align:center;
}

#quick_text
{
	font-size:1.3em;
	top:0px;
	position:absolute;
	width:100%;
}

.emphasize
{
	font-size:2.5em;
	font-weight:900;
}

.emphasize2
{
	font-size:1.5em;
}

#wrap_weather { 
	width: 330px; 
	height: 250px; 
	padding: 0; 
	overflow: hidden;
	display:inline-block;
	border: 0px solid black;
}
	
#frame_weather { 
	width: 440px; 
	height: 350px; 
	border: 0px solid black;
	display:inline-block;
}

.forecast td
{
	border: 1px solid grey;
	text-align: center;
	font-size: 0.7em;
}

#weather_current, #weather_minmax
{
	font-size: 0.7em;
	text-align: center;
}

#weather
{
	border: 1px solid black;
}

.weather_modal1
{
  display:none;
  position:fixed;
  z-index:1;
  top:100px;
  left:8px;
  overflow:auto;
  height:100%;
  width:100%;
}

#frame_traffic {
	-ms-zoom: 0.70
	-moz-transform: scale(0.70);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.70);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.70);
	-webkit-transform-origin: 0 0;
}

#wrap_traffic { 
	width: 330px; 
	height: 250px; 
	padding: 0; 
	overflow: hidden;
	display:inline-block;
	border: 0px solid black;
}
	
#frame_traffic { 
	width: 440px; 
	height: 350px; 
	border: 0px solid black;
	display:inline-block;
}


@media all and (orientation:portrait) {
  .header_center
  {
    clear:both;
    height:40px;
  }
  #frame_OV {
	-ms-zoom: 0.60;
	-moz-transform: scale(0.60);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.60);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.60);
	-webkit-transform-origin: 0 0;
	}
  #frame_traffic {
	-ms-zoom: 0.60;
	-moz-transform: scale(0.60);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.60);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.60);
	-webkit-transform-origin: 0 0;
	}
}



